<%- include("partials/header"); -%>
<div class="home-body">

 <div class="startingContent">
    <h1>Home</h1>
    <p class="intro"> <%= startingContent %> </p>
 </div>

  <%  posts.forEach(function(post){ %>
    <div class="row">

      <div class="post-column col-lg-6">
        <form class="form-body" action="/" method="post">
          <h2><%=post.title%></h2>
          <p>
           <%=post.content.substring(0,50)+ " ....." %>
           <a href="/posts/<%=post.title%>"><span class="readMore" >Read More</span></a>
           <img class="postImage" src="/../images/<%=post.title%>.jpg"  alt="postimage">

          </p>
          <button class="btn btn-danger" type="submit" name="buttonDel" value="<%=post._id%>">DELETE <i class="fas fa-trash-alt"></i> </button>
          <button class="btn btn-info" type="submit" name="buttonEdit" value="<%=post._id%>">EDIT <i class="fas fa-pen-square"></i></button>
        </form>
      </div>

    </div>
    <% }) %>

  </div>


<%- include("partials/footer"); -%>
