<%- include("partials/header"); -%>

<div class="body">
  <h1><%=title%></h1>

  <div class="blogimg-desc">
    <img class="blogimg" src="/../images/<%=title%>.jpg" alt="blogimage">
   <!-- <div class="blogimg"> -->


      <img class="blogimg" src="/../images/<%=imageUrl%>" alt="blogimage">


    <!-- </div> -->

  <div class="blog-desc">
    <p><%=content%></p>
  </div>
</div>



<%- include("partials/footer"); -%>
